.Navbar{
    display:flex;
    flex-direction: row;
    background-color: #232345;
    height: 100px;
    justify-content: space-around;
	align-items:center;
}

.Boton{
    background-color: #343445;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    border-color: #000000;
    border-radius:20px;
    color: #ffffff;
}

.botonActivo{
    background-color: #338888;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    border-color: #000000;
    border-radius:20px;
    color: #ffffff;
}

.Boton:hover{
    background-color: #454556;
}