.cartDisplay{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.boton{
    background-color: #121234;
    height: 40px;
    width: 150px;
    margin-bottom:5px;
    border-color: #000000;
    border-radius:20px;
    color: #ffffff;
}

.precioTotal{
    width: 90%;
    height: 30px;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #232334;
    border-radius:20px;
    margin-bottom: 10px;
    margin-top: 10px;
}