.columnaUnico{
    background-color: #121234;
    width: 90%;
    border-color: #121234;
    border-radius:20px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items:center;
}

img{
    border-color: #ffffff;
    border-radius:20px;
}

.boton{
    background-color: #121234;
    height: 40px;
    width: 150px;
    margin-bottom:5px;
    border-color: #000000;
    border-radius:20px;
    color: #ffffff;
}

.boton:hover{
    background-color: #454556;
}

.filaProductoUnico{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    width: 90%;
}